* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: start;
    padding: 1rem 1rem 0 1rem;
    background-image: url(images/peakpx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main {
    max-width: 800px;
    height: 500px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 3px solid #111;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(17, 17, 17, 0.664);
}

#top-part {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(135, 206, 235);
    border-radius: 9px 9px 0 0;
}
.play-area{
    color: bisque;
    background-color: #111;
    height: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.around-play-area {
    height: 80%;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    /* border: 3px solid rgb(255, 235, 124); */
}
#status-el {
    font-family: 'Press Start 2P', sans-serif;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 1;
    gap: 1rem;
}
#status-el input {
    text-align: center;
    font-family: inherit;
    height: 30px;
    width: 200px;
}
#status-el button {
    /* margin-top: 2rem; */
    margin-bottom: -1.5rem;
    padding: .5rem 1rem;
    font-family: inherit;
    border: none;
    font-size: .8rem;
}
.hidden {
    display: none;
}
#player-choice, #pc-choice {
    font-size: 5rem;
    width: 85px;
    height: 85px;
    text-align: center;
}
.score-board {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    height: 50%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 6px;
    overflow: hidden;
    font-family: 'Press Start 2P', sans-serif;

}
.name-banner {
    background-color: rgb(255, 235, 124);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
}
.score-banner {
    font-size: 4rem;
}
#bottom-part {
    background-color: rgb(253, 194, 203);
    border-radius: 0 0 9px 9px;
}
#bottom-part, #bottom-part article {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom-part article {
    width: 100%;
    height: 100%;
}
#bottom-part button {
    font-size: 5rem;
    padding: 1rem 2rem;
    color: bisque;
    background-color: hsl(180, 7%, 22%);
    border: none;
    border-radius: 6px;
    transition: background-color .2s ease;
    cursor: pointer;
}
#bottom-part button:hover {
    background-color: hsl(180, 7%, 32%);
}
#bottom-part button:active {
    background-color: hsl(180, 7%, 12%);
}

footer {
    height: 30px;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    rgba(17, 17, 17, 0.664),
    black
    );
    color: white;
    border-radius: 6px 6px 0 0;
    font-family: 'Changa', sans-serif;
    position: fixed;
    bottom: 0;
}
footer a {
    color: white;
}

@media (max-width: 768px) {

main {
    width: 90%;
    height: 90vh;
}

#top-part {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    padding: 0 1rem;
}
.play-area{
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.around-play-area {
    height: 230px;
    width: 90%;
    margin: 0 auto;
}
#player-choice {
    margin-bottom: 1rem;
}
#pc-choice {
    margin-top: 1rem;
}
#player-choice, #pc-choice {
    font-size: 3.5rem;
}
.score-board {
    height: 70%;
    width: 80%;
}
#bottom-part {
    padding: 0 1rem;
}
#bottom-part article {
    width: 100%;
    height: fit-content;
}
#bottom-part button {
    font-size: 5rem;
    padding: 1.5rem;
}
}


@media (max-width: 575px) {

    main {
        width: 95%;
        grid-template-rows: 3fr 1fr;
    }
    .score-board {
        height: 70%;
        width: 70%;
    }
    .score-banner {
        font-size: 3.5rem;
    }
    #bottom-part {
        padding: 0 1rem;
    }
    #bottom-part button {
        font-size: 4rem;
        padding: 2rem 1.2rem;
    }
}

@media (max-width: 426px) {
    main {
        width: 100%;
    }
    
    #top-part {
        padding: 0;
    }
    .around-play-area {
        width: 90%;
    }
    #player-choice, #pc-choice {
        font-size: 4rem;
    }
    .score-board {
        height: 70%;
        width: 70%;
    }
    .score-banner {
        font-size: 3.5rem;
    }
    #bottom-part {
        padding: 0 .5rem;
    }
    #bottom-part button {
        font-size: 4rem;
        padding: 2rem 1rem;
    }
}